#!/usr/bin/env python3
# vim:ft=python

def GetFilename(params):
  if "file" in params:
    return params["file"]

  if "url" in params:
    url = params["url"]
    if url.find("mail") != -1:
      return "content.eml"

  if "ext" in params:
    return "file." + params["ext"]

  return "file.txt"
